# config.settings.local для розробки, config.settings.production для релізу
DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=change-me-to-something-secure
DEBUG=True

# Розділені комою хости
ALLOWED_HOSTS=localhost,127.0.0.1

POSTMARK_SERVER_TOKEN=
DEFAULT_FROM_EMAIL=noreply@vyshyvankadaily.local